:root {
  --header-text-color: #212121;
  --header-sec-text-color: #757575;
  --primery-text-color: #212121;
  --sacondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --logo-main-color: #2196f3;
}
